{% extends 'base.html.twig' %}

{% block title %}{{ title|trans }} | {{ parent() }}{% endblock %}

{% block main %}
<main class="main">
    <article class="center-div mx-auto text-center p-3 bg-white bg-opacity-75 w-75 rounded-4">
        <!-- Display message at user -->
		{% for label, messages in app.flashes(['success', 'error', 'warning']) %}
			{% for message in messages %}
				<div class="alert alert-{{ label }}">
					{{ message|trans }}
				</div>
			{% endfor %}
		{% endfor %}
        <h2 class="text-primary">{% trans %}API Results{% endtrans %}</h2>
        <p class="text-black fw-bold fs-3">{% trans %}Response : {% endtrans %}<span class="ms-2 text-success">{% if(apiResponse == 1) %}{{ "true" }}{% endif %} </span></p>
        <p class="text-black fw-bold fs-3">{% trans %}SubmittedItems : {% endtrans %}<span class="ms-2 text-info">{{ apiSubItems }}</span></p>
    </article>
</main>
{% endblock %}