<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% trans %}Welcome !{% endtrans %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo/logo_api.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}        
    </head>    
    <body>
    <div class="content">
        <header class="d-flex justify-content-center py-3 bg-white bg-opacity-75">
        <img class="logo" src="{{ asset('img/logo/logo_api.svg') }}" alt="{% trans %}API Logo{% endtrans %}">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ path('app_home') }} " class="nav-link active" aria-current="page">{% trans %}Home{% endtrans %}</a></li>
                <li class="nav-item"><a href="{{ path('app_send_file') }} " class="nav-link">{% trans %}API Test{% endtrans %}</a></li>
                <li class="nav-item">
                <!-- Display flags Languages -->
                    {% for locale in locales %}                    
                        {% if locale != app.request.locale %}
                            <a href="{{ path('app_translate', {
                                'locale': locale
                            }) }}">                            
                                <img class="icon-lang" src="{{ asset('img/'~locale~'.png') }}" alt="{{locale}}">
                            </a>
                        {% endif %}
                    {% endfor %}	
                </li>                
            </ul>            
        </header>    
        {% block main %}
        {% endblock %}        
    </div>
        <footer class="py-3 bg-dark text-center text-white">    
            <p>© {{ 'now'|date('Y') }} Laurent GUIGUES</p>
            <p class="fs-6 text-muted">{% trans %}Propulsed by Symfony{% endtrans %}</p>
        </footer>       
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>